
.navbar {
    display: flex;
    background: rgb(255, 0, 191);
    padding: 0!important;
}


.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    transition: all linear 0.8s;
}
.navbar a:hover {
    background: cornflowerblue;
    color: white;
}
