.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.notfound h1{
    text-align: center;
    color: crimson;
    font-size: 48px;
    font-weight: 900;
}
.notfound h2{
    color: rgba(202, 189, 0, 0.788);
    font-size: 42px;
    font-weight: 700;
}
